.header{
    background-color: #A67DB8;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;

}

h1{
    font-family: 'Victor Mono', monospace;
   text-transform: uppercase;
   font-weight: bold;

    text-align: left;
    font-size: 50px;
}

.italic{
    text-transform: capitalize;
    font-style:italic;
}

.groups-container{
  display: flex;
width: 100%;
}
