.student-card-view{


    display: flex;


    padding: 20px;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    border-top: none;



}

.divider-card{
  background-color: purple;
  width: 100%;

  display: flex;
  justify-content: center;
  border-radius: 20px 20px 0 0;


}

.student-data-lis{
  text-transform: capitalize;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 36px;

width: 100%;
border:1px solid purple;
height: 200px;
display: flex;
align-items: end;
justify-content: center;
}

li{
  list-style: none;
}


img{
width: 40%;
position: relative;
border: 4px solid white;
border-radius: 200px;
top:50px;
z-index: 9999;



}
